a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #e60012;
}
a:active {
	text-decoration: none;
}

.top1 a:link {
	color: #ffffff;
	text-decoration: none;
}
.top1 a:visited {
	text-decoration: none;
	color: #ffffff;
}
.top1 a:hover {
	text-decoration: none;
	color: #ffffff;
}
.top1 a:active {
	text-decoration: none;
}

.admin_top {
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	height: 26px;
	width: 100%;
	background-image: url(/images/bg.jpg);
	background-repeat: repeat-x;
}
.top1 {
	padding: 0px;
	clear: both;
	float: left;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-family: "Microsoft yahei";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
.top2 {
	height: 26px;
	width: 75px;
	padding: 0px;
	clear: none;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.admin_logo {
	text-align: left;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	height: 65px;
	width: 100%;
	background-image: url(/images/bg4.jpg);
	background-repeat: repeat-x;
}
.ad_zt {
	padding: 0px;
	clear: both;
	float: left;
	height: 1000px;
	width: 1800px;
	margin: 0px;
}
.adbut01 {
	margin: 0px;
	padding: 0px;
	clear: none;
	float: left;
	height: 65px;
	width: auto;
}
.fy2 {
	text-align: right;
	clear: both;
	float: none;
	height: 60px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}


#pagination {
	margin-bottom:0px;
	clear:both;
	height: 35px;
	margin-top: 20px;
	padding: 5px;
	width: auto;
	float: right;
}
#pagination span { repeat-x;
	border:1px solid #CCC;
	margin-right:3px;
	text-shadow: 1px 1px 1px #FFF;
	margin-top: 3px;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
}
#pagination .current {
	font-weight:bold;
	background-color: #dddddd;
}
.sxfy {
	padding: 0px;
	clear: none;
	float: left;
	width: 50px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.login_top_bg {
	background-image: url(login-top-bg.gif);
	background-repeat: repeat-x;
}
body {
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #efefef;
}

.login-buttom-bg {
	background-image: url(login-buttom-bg.gif);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}
.Submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #629DAE;
	text-decoration: none;
	background-image: url(Submit_bg.gif);
	background-repeat: repeat-x;
}
.login_bg {
	background-image: url(login_bg.jpg);
	background-repeat: repeat-x;
}
.login_bg2 {
	background-image: url(login-content-bg.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.admin_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 100%;
	position: �̶�;
	line-height: 38px;
}
.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}
.admin_topbg {
	background-image: url(top-right.gif);
	background-repeat: repeat-x;
}
.txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left_topbg {
	background-image: url(content-bg.gif);
	background-repeat: repeat-x;
}
.admin_toptxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A8091;
	height: 18px;
	width: 100%;
	overflow: hidden;
	position: �̶�;
}

.left_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #395a7b;
}
.left_bt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}

.left_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
}
.left_txt2 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: rgb(0, 0, 0);
	border: 1px solid #dddddd;
}

.left_txt2 span{margin:0px; padding:0px;  color:#ff0000; display:inline;}

.nowtable {
	background-color: #e1e5ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.left_txt3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #003366;
	text-decoration: none;
}



.left_ts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FF6600;
}
.line_table {
	border: 1px solid #CCCCCC;
}
.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	border: 1px solid #B5D0D9;
	background-image: url(right_smbg.jpg);
	background-repeat: repeat-x;
}
.sec2 {
	FONT-WEIGHT: bold;
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	background-color: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.MM a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
a:link {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}


.MM a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}

.table_btn1  {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#078C43), to(#4AB148));
	background: -moz-linear-gradient(top, #078C43,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#078C43', endColorstr='#4AB148');
	height: 1px;
	width: 1px;
	margin-top: -800px;
	overflow: hidden;
	visibility: hidden;
}
.table_btn  {
	color: #fef4e9;
	border: solid 1px #078C43;
	background: #078C43;
	background: -webkit-gradient(linear, left top, left bottom, from(#078C43), to(#4AB148));
	background: -moz-linear-gradient(top, #078C43,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#078C43', endColorstr='#4AB148');
}
.table_btn:hover {
	background: #4AB148;
	background: -webkit-gradient(linear, left top, left bottom, from(#078C43), to(#4AB148));
	background: -moz-linear-gradient(top,  #078C43,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#078C43', endColorstr='#4AB148');
}
.table_btn:active {
	color: #078C43;
	background: -webkit-gradient(linear, left top, left bottom, from(#4AB148), to(#4AB148));
	background: -moz-linear-gradient(top,  #4AB148,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#4AB148', endColorstr='#4AB148');
}
#btnSubmit  {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#078C43), to(#4AB148));
	background: -moz-linear-gradient(top, #078C43,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#078C43', endColorstr='#4AB148');
}
#btnSubmit:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#078C43), to(#4AB148));
	background: -moz-linear-gradient(top,  #078C43,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#078C43', endColorstr='#4AB148');
}
#btnSubmit:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#4AB148), to(#4AB148));
	background: -moz-linear-gradient(top,  #4AB148,  #4AB148);
	filter:  progid: DXImageTransform.Microsoft.gradient(startColorstr='#4AB148', endColorstr='#4AB148');
}

.lmt {
	font-family: "Microsoft yahei";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 2px;
	clear: both;
	float: left;
	height: auto;
	width: 1700px;
}


.lmt-300 {
	margin: 0px;
	padding: 0px;
	clear: none;
	float: left;
	height: 30px;
	width: 300px;
}

.btl {
	background-image: url(/images/b2b/workbench/bg5.jpg);
	margin: 0px;
	clear: both;
	float: left;
	height: 28px;
	width: 1700px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Microsoft yahei";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 0px;
}

.lmt-1 {
	margin: 0px;
	padding: 0px;
	clear: none;
	float: left;
	height: 30px;
	width: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.lmt-600 {
	padding: 10px;
	clear: none;
	float: left;
	height: auto;
	width: 300px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
}
.lmt-1000 {
	padding: 10px;
	clear: none;
	float: left;
	height: auto;
	width: 1000px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
}
.lmt-1200 {
	padding: 0px;
	clear: both;
	float: left;
	height: auto;
	width: 1200px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.lmt-4 {
	clear: none;
	float: left;
	width: 4%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-4 {
	clear: none;
	float: left;
	width: 4%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 100%;
}
.lmt-6 {
	clear: none;
	float: left;
	width: 6%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-6 {
	clear: none;
	float: left;
	width: 6%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 100%;
}
.lmt-7 {
	clear: none;
	float: left;
	width: 6.5%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-7 {
	clear: none;
	float: left;
	width: 6.5%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-8 {
	clear: none;
	float: left;
	width: 7.7%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-8 {
	clear: none;
	float: left;
	width:7.7%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height:100%;
	word-wrap: break-word;
	word-break: normal; 
	word-break:break-all;
}

.lmt-9 {
	clear: none;
	float: left;
	width: 9.3%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-9 {
	clear: none;
	float: left;
	width: 9.3%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-10 {
	clear: none;
	float: left;
	width: 10%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-10 {
	clear: none;
	float: left;
	width: 10%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt1-10-left {
	clear: none;
	float: left;
	width: 10%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-12 {
	clear: none;
	float: left;
	width: 11.5%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-12 {
	clear: none;
	float: left;
	width: 11.5%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-13 {
	clear: none;
	float: left;
	width: 12.5%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-13 {
	clear: none;
	float: left;
	width: 12.5%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-14 {
	clear: none;
	float: left;
	width: 13.8%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-14 {
	clear: none;
	float: left;
	width: 13.8%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-16 {
	clear: none;
	float: left;
	width: 16%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-16 {
	clear: none;
	float: left;
	width: 16%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 100%;
}
.lmt-18 {
	clear: none;
	float: left;
	width: 18%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
}
.lmt1-18 {
	clear: none;
	float: left;
	width: 18%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: 25px;
}
.lmt-20 {
	clear: none;
	float: left;
	width: 20%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	
}
.lmt1-20 {
	clear: none;
	float: left;
	width: 20%;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dddddd;
	height: auto;
}
.lmt1 {
	margin: 0px;
	clear: both;
	float: left;
	height: auto;
	width: 1700px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	background-color: #FFFFFF;
	font-family: "Microsoft yahei";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
#lmt2 {
	margin: 0px;
	clear: both;
	float: left;
	height: 30px;
	width: 99%;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	background-color: #FFFFFF;
	font-family: "Microsoft yahei";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
.lmt3 {
	margin: 0px;
	clear: both;
	float: left;
	height: 135px;
	width: 1700px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	background-color: #FFFFFF;
	font-family: "Microsoft yahei";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
	white-space: nowrap;
}
.lmt-bon {
	margin: 0px;
	clear: none;
	float: left;
	height: auto;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.lmt-pic {
	clear: none;
	float: none;
	height: auto;
	width: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
