body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.auto_onmouseout {
	color: #000000;
	width: 100%;
	background-color: #ffffff;
}
/** 查询列表样式 **/
.list_table{
	  vertical-align:middle;
      border-collapse: collapse;
      border: 1px solid #C8D9CF;
      margin-top: 5px;
       margin-left: 10px;
}
.titleTD{
    border: 1px solid #C8D9CF;
	background-color: #BFDFCA; 
	color: #636862; 
	font-size:14;
	font-weight: bold; 
	text-align: left;
	height:25px;
}
.list_table tr{
    border: 1px solid #C8D9CF;
    height:30px;
}
.list_table td{
    border: 1px solid #C8D9CF;

    color:#606060;
}

/**编辑表格样式 **/
.edit_table{
  margin-top:30px;
  margin-left:30px;
  border:1px solid #CDD7E1;
}
.edit_table tr{
   background: #F1F8F0;
   height:35px;
   color:#656766;
   font-weight: normal;
    text-align: left;
    border:1px solid #CDD7E1;
}
.edit_table td{
	clear:both;
	border:1px solid #CDD7E1;
	font-size: 14px;
}
.edit_table td  input{
   border: 1px solid #CBCBCB;
   height:25px;
}
.eidt_rowTitle{
	padding-left:30px;
}
.edit_title{
    background: #DAF3DD;
    color:#058842;
    font-size:16px;
    font-weight:bold;
    height:30px;
    padding-left:30px;
}
.edit_bottom{
    margin:30 0 0 30px;
}
/**查询条件表格样式**/
.content_table td{
	 color:#606060;
}
/** 分页模块样式 **/
.page_table{
	 margin-top:10px;
     height:30px;
     background-color: #E2E0E1;
     vertical-align: middle;
}
/**按钮的样式**/
.addBtn{
	width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background-image: url(/etc/images/button/btn1.png);
}
.addBtn:hover{
	width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn1_1.png);
}
.delBtn{
	width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background-image: url(/etc/images/button/btn2.png);
}
.delBtn:hover{
	width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn2_1.png);
}
.queryBtn{
	width:81px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background-image: url(/etc/images/button/btn5.png);
}
.queryBtn:hover{
	width: 81px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn5_1.png);
}
.saveBtn{
    width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn3.png);
}
.saveBtn:honver{
    width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn3_1.png);
}
.backBtn{
	width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn4.png);
}
.backBtn:hover{
	width: 68px;
	height: 30px;
	border: none;
	text-align:center;
	vertical-align:middle;
    background: url(/etc/images/button/btn4_1.png);
}
/**输入框错误提示**/
label.error{  
 background: url(/etc/images/li_err.gif) no-repeat ; 
 font: 12px/1 verdana, simsun, sans-serif;  
 margin: 0;  
 padding-left:20px; 
 height: 20px;
 line-height: 20px;
 margin-left:10px;
 } 
 
 label.checked{
 background: url(/etc/images/li_ok.gif) no-repeat ; 
 font: 12px/1 verdana, simsun, sans-serif;  
 margin: 0;  
 padding-left:20px; 
 height: 20px;
 line-height: 20px;
 margin-left:10px;
	}