body,ul,li{margin:0px;padding:0px;font-size:12px;font-family:Arial;}

.tab{
	margin-top:20px;
	border-collapse:collapse;
	border:none;
}

.tab td{
	border:solid #797979 1px;
}

.cleantb{border:none;}

.cleantb td{border:none}


.tabaa{
	border-collapse:collapse;
	border:none;
}

.tabaa td{
	border:solid #797979 1px;
}

.promotionhead{
	background-color:#008000;
	width:100%;
	height:30px;
}

.titleName{
	color:#fff;
	font-size:14px;
	margin-left:10px;
}





