<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kmzyc.search.facade.dao.ShopMainDao" >
	
	<!-- 根据店铺ID获取店铺信息 -->
  	<select id="getShopNameId" parameterType="java.lang.Integer" resultType="java.lang.String">
     	select 
    		t.shop_name as shopName
	    from 
	    	shop_main t
	    where 
	    	t.shop_id = #{shopId}
 	</select>
 	
 	<!-- 根据供应商ID获取供应商信息 -->
 	<select id="getSupplierInfoByShopId" parameterType="java.lang.Integer" resultType="com.kmzyc.search.facade.vo.SupplierInfo">
     	select 
     		si.supplier_id supplierId,
     		sm.shop_id shopId,
     		mm.market_id marketId,
     		mm.market_name marketName,
     		si.stalls_no stallsNo,
     		sm.shop_name shopName,
     		sm.introduce introduce,
     		sm.shop_seo_key shopSeoKey
		  from 
		  	suppliers_info si, shop_main sm, medicine_market mm
		 where 
		 	si.supplier_id = sm.supplier_id
		 	and si.market_id = mm.market_id(+)
		    and si.supplier_type = 2
		    and si.CLOSE_STATUS = 2
		    and si.BUSINESS_STATUS = 2
		    and sm.shop_id = #{shopId}
 	</select>
</mapper>