body{padding:0;margin:0;}
/*¸¡²ã*/
#floatBoxBg{display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;}
.floatBox{border:#fff 3px solid;width:300px;position:absolute;top:50px;left:40%;}
.floatBox .title{
    height:23px;
	padding:7px 10px 0;
	background:#bfdfca;
	color:#636862;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bfdfca;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #bfdfca;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bfdfca;
	z-index:10
	}
.floatBox .title h4{float:left;padding:0;margin:0;font-size:12px;line-height:16px;}
.floatBox .title span{float:right;cursor:pointer;}
.floatBox .content{
	padding:20px 15px;
	background:#fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bfdfca;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #bfdfca;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bfdfca;
	}

/*Ò³Ãæ*/
#box{padding:20px;margin:0 50px;background:#999;font-size:14px;}
#box h1{font-size:40px;line-height:50px;height:90px;}
#box #testFloatBox{position:static;margin:20px 0;}
#box table{margin:20px 0;}
#box h3{font-size:16px;padding:20px 0 10px;}
code{font-size:12px;color:#333;margin:10px;display:block;}
#box ol{margin:0;padding:0;list-style-position:inside;list-style-type:decimal;}
#box ol li{margin:0 0 20px 0;line-height:18px;}
#box ol li span{color:#00f;text-decoration:underline;cursor:pointer;}
#box ol li strong{display:block;}
body .iframe .content{padding:0;}
#box .title span{font-size:12px;}
#box p{line-height:18px;}